<!doctype html>
<html lang="en">
  <head>
    <style type="text/css">
      #logo {text-align: center; color: #803232; font-size: 50pt;}
      #container {margin-left:210px; float: left;}
      div {border: 2px solid; padding: 10px; width: 300px; height: 450px; float: left; margin-bottom: 20px; position: static;}
      header {height: 53px; background-color: #DCAD67; border-color: #DCAD67 border: 1px solid  #253342; position: fixed; width: 100% ; top: 0; left: 0;}
      #head {color: #8B6331; font-size: 20pt; margin-top: 7px;margin-left: 80px;}
    </style>
  </head>

  <body>

    <header>
      <p id="head"><b>Review Blog</b></p>
    </header>

    <p id="logo">굽네 치킨</p>

    <span id="container">
      <div class="div_box">
        <a href="/review"><img src="http://127.0.0.1:8000/media/images/chi1.jpg" width="300" height="300"></a><br><br>
        <text><b>굽네 치트킹 세트</b><br><br><b>Price</b> 16,000</text>
      </div>
    </span>

    <span id="container">
      <div class="div_box">
        <a href=""><img src="http://127.0.0.1:8000/media/images/chi2.jpg" width="300" height="300"></a><br><br>
        <text><b>굽네 갈비천왕</b><br><br><b>Price</b> 17,000</text>
      </div>
    </span>

    <span id="container">
      <div class="div_box">
        <a href="/products/review"><img src="http://127.0.0.1:8000/media/images/chi3.jpg" width="300" height="300"></a><br><br>
        <text><b>굽네 허니멜로</b><br><br><b>Price</b> 18,000</text>
      </div>
    </span>

    <span id="container">
      <div class="div_box">
        <a href=""><img src="http://127.0.0.1:8000/media/images/chi4.jpg" width="300" height="300"></a><br><br>
        <text><b>굽네 마라 볼케이노</b><br><br><b>Price</b> 18,000</text>
      </div>
    </span>

    <span id="container">
      <div class="div_box">
        <a href=""><img src="http://127.0.0.1:8000/media/images/chi5.jpg" width="300" height="300"></a><br><br>
        <text><b>굽네 볼케이노 그릴 후랑크</b><br><br><b>Price</b> 19,500</text>
      </div>
    </span>


  </body>
</html>