<!doctype html>
<html lang="en">
  <head>
    <style type="text/css">
      #logo {text-align: center; color: #803232; font-size: 50pt;}
      #container {margin-left:210px; float: left;}
      div {border: 2px solid; padding: 10px; width: 300px; height: 450px; float: left; margin-bottom: 20px; position: static;}
      header {height: 53px; background-color: #DCAD67; border-color: #DCAD67 border: 1px solid  #253342; position: fixed; width: 100% ; top: 0; left: 0;}
      #head {color: #8B6331; font-size: 20pt; margin-top: 7px;margin-left: 80px;}
    </style>
  </head>

  <body>

    <header>
      <p id="head"><b>Review Blog</b></p>
    </header>

    <p id="logo">BOBBI-BROWN</p>

    <span id="container">
      <div class="div_box">
        <a href="/review"><img src="http://127.0.0.1:8000/media/images/bb1.jpg" width="300" height="300"></a><br><br>
        <text><b>[한정판 골드 보틀] 인텐시브 스킨 세럼 파운데이션 SPF40 PA+++</b><br><br><b>Price</b> 85,000</text>
      </div>
    </span>

    <span id="container">
      <div class="div_box">
        <a href="/review"><img src="http://127.0.0.1:8000/media/images/bb2.jpg" width="300" height="300"></a><br><br>
        <text><b>[한정판] 쉬어 피니쉬 프레스드 파우더</b><br><br><b>Price</b> 60,000</text>
      </div>
    </span>

    <span id="container">
      <div class="div_box">
        <a href="/review"><img src="http://127.0.0.1:8000/media/images/bb3.jpg" width="300" height="300"></a><br><br>
        <text><b>럭스 립칼라</b><br><br><b>Price</b> 43,000</text>
      </div>
    </span>

    <span id="container">
      <div class="div_box">
        <a href="/review"><img src="http://127.0.0.1:8000/media/images/bb4.jpg" width="300" height="300"></a><br><br>
        <text><b>롱웨어 젤 아이라이너</b><br><br><b>Price</b> 38,000</text>
      </div>
    </span>

    <span id="container">
      <div class="div_box">
        <a href="/review"><img src="http://127.0.0.1:8000/media/images/bb5.jpg" width="300" height="300"></a><br><br>
        <text><b>엑스트라 스킨케어 세트</b><br><br><b>Price</b> 225,000</text>
      </div>
    </span>


  </body>
</html>