<!doctype html>
<html lang="en">
  <head>
    <style type="text/css">
      #logo {text-align: center; color: #803232; font-size: 50pt;}
      #container {margin-left:210px; float: left;}
      div {border: 2px solid; padding: 10px; width: 300px; height: 450px; float: left; margin-bottom: 20px; position: static;}
      header {height: 53px; background-color: #DCAD67; border-color: #DCAD67 border: 1px solid  #253342; position: fixed; width: 100% ; top: 0; left: 0;}
      #head {color: #8B6331; font-size: 20pt; margin-top: 7px;margin-left: 80px;}
    </style>
  </head>

  <body>

    <header>
      <p id="head"><b>Review Blog</b></p>
    </header>

    <p id="logo">NEW BALANCE</p>

    <span id="container">
      <div class="div_box">
        <a href="/review"><img src="http://127.0.0.1:8000/media/images/nb1.jpg" width="300" height="300"></a><br><br>
        <text><b>UNI 윈터트랙 플리스자켓</b><br><br><b>Price</b> 159,000</text>
      </div>
    </span>

    <span id="container">
      <div class="div_box">
        <a href="/review"><img src="http://127.0.0.1:8000/media/images/nb2.jpg" width="300" height="300"></a><br><br>
        <text><b>UNI 뉴발란스 액티브 구스 숏 다운</b><br><br><b>Price</b> 259,000</text>
      </div>
    </span>

    <span id="container">
      <div class="div_box">
        <a href="/review"><img src="http://127.0.0.1:8000/media/images/nb3.jpg" width="300" height="300"></a><br><br>
        <text><b>410v5 트레일 (2E)</b><br><br><b>Price</b> 89,000</text>
      </div>
    </span>

    <span id="container">
      <div class="div_box">
        <a href="/review"><img src="http://127.0.0.1:8000/media/images/nb4.jpg" width="300" height="300"></a><br><br>
        <text><b>SD1501GWT</b><br><br><b>Price</b> 49,000</text>
      </div>
    </span>

    <span id="container">
      <div class="div_box">
        <a href="/review"><img src="http://127.0.0.1:8000/media/images/nb5.jpg" width="300" height="300"></a><br><br>
        <text><b>UNI 뉴발란스 액티브 구스 롱 다운</b><br><br><b>Price</b> 359,000</text>
      </div>
    </span>


  </body>
</html>