<!doctype html>
<html lang="en">
  <head>
    <style type="text/css">
      #logo {text-align: center; color: #803232; font-size: 50pt;}
      #container {margin-left:210px; float: left;}
      div {border: 2px solid; padding: 10px; width: 300px; height: 450px; float: left; margin-bottom: 20px; position: static;}
      header {height: 53px; background-color: #DCAD67; border-color: #DCAD67 border: 1px solid  #253342; position: fixed; width: 100% ; top: 0; left: 0;}
      #head {color: #8B6331; font-size: 20pt; margin-top: 7px;margin-left: 80px;}
    </style>
  </head>

  <body>

    <header>
      <p id="head"><b>Review Blog</b></p>
    </header>

    <p id="logo">LOCCITANE</p>

    <span id="container">
      <div class="div_box">
        <a href="/review"><img src="http://127.0.0.1:8000/media/images/loc1.jpg" width="300" height="300"></a><br><br>
        <text><b>이모르뗄 오버나이트 리셋 오일 인 세럼 30ml</b><br><br><b>Price</b> 87,000</text>
      </div>
    </span>

    <span id="container">
      <div class="div_box">
        <a href="/review"><img src="http://127.0.0.1:8000/media/images/loc2.jpg" width="300" height="300"></a><br><br>
        <text><b>이모르뗄 디바인 크림</b><br><br><b>Price</b> 160,000</text>
      </div>
    </span>

    <span id="container">
      <div class="div_box">
        <a href="/review"><img src="http://127.0.0.1:8000/media/images/loc3.jpg" width="300" height="300"></a><br><br>
        <text><b>시어 드라이 스킨 핸드 크림 150ml</b><br><br><b>Price</b> 38,000</text>
      </div>
    </span>

    <span id="container">
      <div class="div_box">
        <a href="/review"><img src="http://127.0.0.1:8000/media/images/loc4.jpg" width="300" height="300"></a><br><br>
        <text><b>[오가닉 인증]퓨어 시어 버터 EFT -에코서트 150ml</b><br><br><b>Price</b> 55,000</text>
      </div>
    </span>

    <span id="container">
      <div class="div_box">
        <a href="/review"><img src="http://127.0.0.1:8000/media/images/loc5.jpg" width="300" height="300"></a><br><br>
        <text><b>버베나 오 드 뚜왈렛 100ml</b><br><br><b>Price</b> 75,000</text>
      </div>
    </span>


  </body>
</html>