<!doctype html>
<html lang="en">
  <head>
    <style type="text/css">
      #logo {text-align: center; color: #803232; font-size: 50pt;}
      #container {margin-left:210px; float: left;}
      div {border: 2px solid; padding: 10px; width: 300px; height: 450px; float: left; margin-bottom: 20px; position: static;}
      header {height: 53px; background-color: #DCAD67; border-color: #DCAD67 border: 1px solid  #253342; position: fixed; width: 100% ; top: 0; left: 0;}
      #head {color: #8B6331; font-size: 20pt; margin-top: 7px;margin-left: 80px;}
    </style>
  </head>

  <body>

    <header>
      <p id="head"><b>Review Blog</b></p>
    </header>

    <p id="logo">버거킹</p>

    <span id="container">
      <div class="div_box">
        <a href="/review"><img src="http://127.0.0.1:8000/media/images/king1.jpg" width="300" height="300"></a><br><br>
        <text><b>메가몬스터X</b><br><br><b>Price</b> set 9,900 / single 8,900</text>
      </div>
    </span>

    <span id="container">
      <div class="div_box">
        <a href="/review"><img src="http://127.0.0.1:8000/media/images/king2.jpg" width="300" height="300"></a><br><br>
        <text><b>트러플통모짜X</b><br><br><b>Price</b> set 9,900 / single 8,900</text>
      </div>
    </span>

    <span id="container">
      <div class="div_box">
        <a href="/review"><img src="http://127.0.0.1:8000/media/images/king3.jpg" width="300" height="300"></a><br><br>
        <text><b>트러플머쉬룸와퍼</b><br><br><b>Price</b> set 7,000 / single 6,000</text>
      </div>
    </span>

    <span id="container">
      <div class="div_box">
        <a href="/review"><img src="http://127.0.0.1:8000/media/images/king4.jpg" width="300" height="300"></a><br><br>
        <text><b>콰트로치즈와퍼</b><br><br><b>Price</b> set 7,500 / single 6,500</text>
      </div>
    </span>

    <span id="container">
      <div class="div_box">
        <a href="/review"><img src="http://127.0.0.1:8000/media/images/king5.jpg" width="300" height="300"></a><br><br>
        <text><b>비프칠리통모짜와퍼</b><br><br><b>Price</b> set 9,500 / single 8,500</text>
      </div>
    </span>


  </body>
</html>