<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
   <style type="text/css">
      img {
         width: 200px;
         height: 200px;
         border-style: solid;
         margin: 10px;
      }

      header {height: 53px; background-color: #DCAD67; border-color: #DCAD67 border: 1px solid  #253342; position: fixed; width: 100% ; top: 0; left: 0;}
      #head {color: #8B6331; font-size: 20pt; margin-top: 7px;margin-left: 80px;}
   </style>
</head>
<body>
   <header>
      <p id="head"><b>Review Blog</b></p>
    </header>

    <br><br><br><br>

   <a href=https://blog.naver.com/shsse/221711076613 onclick="window.open(this.href); return false"><img src="http://127.0.0.1:8000/media/images/nike2.jpg" width="300" height="300" style="vertical-align: text-top"></a>올해 새롭게 출시된 나이키 신상 윈드러너 재킷으로, 나이키 한국 공홈에서 판매되는 상품입니다. 많은 분들이 착용을 통해 좋은 가격에 세 가지 컬러가 포스트타운에 입고 되었습니다.
   <br>

   
   <a href=https://blog.naver.com/tokyonni427/221202065006 onclick="window.open(this.href); return false"><img src="http://127.0.0.1:8000/media/images/nike4.jpg" width="300" height="300" style="vertical-align: text-top"></a>화이트 컬러의 신발은 225 사이즈 부터 소량 입고 된 상품으로 요즘 인기있는 신발 입니다.
   <br>

   <a href=http://ysstyle.co.kr/221684520655 onclick="window.open(this.href); return false"><img src="http://127.0.0.1:8000/media/images/nike5.jpg" width="300" height="300" style="vertical-align: text-top"></a>힙합 컬처의 영감으로 탄생한 나이키 에어맥스 270 리액트 신발 상품으로, 블랙 컬러에 변화를 위한 행동주의, 사랑, 분노의 에너지를 담아낸 상품입니다.
   <br>

<footer class="text-muted">
   <div class="container">
   <p>CopyRight 2019 이명선 손채리 정현아</p>
   </div>
</footer>
</body>
</html>